.time-locked {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: min(540px, 100%);
  height: 540px;
  background-color: #fff;
  box-shadow: -10px -10px 200px -20px rgba(69, 69, 164, 0.25),
    0 30px 10px -10px rgba(64, 42, 42, 0.3),
    inset 0 -5px 6px -10px rgba(10, 37, 64, .35);
  border: 0.5px solid rgba(34, 38, 42, 0.07);
  /* 0 50px 100px -20px rgba(50, 50, 93, .25), 0 30px 60px -30px rgba(0, 0, 0, .3), inset 0 -2px 6px 0 rgba(10, 37, 64, .35); */
  padding: 4rem;
}

.time-locked>p,
.time-locked>p>b {
  font-size: 1.6rem;
  text-align: center;
}

.time-locked>h2 {
  margin: 2rem 0;
  font-size: 5rem;
  font-weight: 700;
}

.time-locked-call-to-actions {
  display: flex;
  flex-direction: row;
}

.time-locked-call-to-actions>a {
  margin: 1rem 1.25rem;
}

.time-locked-call-to-actions>a>img {
  height: 2rem;
}