.login-locked {
  position: relative;
  width: min(540px, 100%);
}

button.login-locked-button {
  position: absolute;
  bottom: 4rem;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.016);
  color: #202020;
  width: max-content;
  box-shadow: 10px 10px 120px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3);
}

button.login-locked-button:hover {
  font-weight: 600;
  background-color: #9966ff;
  color: #fff;
}